.navbar a, .navbar span {
	display: inline-block;
	height: 56px;
	line-height: 56px;
	padding: 0 1rem;
	color: #404040;
	font-weight: bold;
	text-decoration: none;
	cursor: pointer;
	outline: 0;
}
.navbar a:hover, .navbar span:hover {
	text-decoration: underline;
}
.navbar .active {
	color: #009688;
}
